extends layout

block content
	h1= title
	p Welcome to #{title}
	-if(success)
		p=success
		p 你好，
			a(href='user/perInfo') #{user.name}	
	-else if(success_out)
		p=success_out
	-if(error)
		p=error
	section.book_express
		div.hd
			h2 新书速递
		div.bd
			ul
				-for(var index = books.length - 1; index >= 0; --index)
					li.fl.w100.mr10
						a.no_unl(href='book/#{books[index].name_zh}',target='_blank') #{books[index].name_zh}