extends layout

block content	
	section.main-content
		div.hd
			-if(success)
				p=success
				p 你好，
					a(href='user/perInfo') #{user.name}	
			-else if(success_out)
				p=success_out
			-if(error)
				p=error
		h2 最新连载
		div.bd
			ul.serial
				-for(var index = books.length - 1; index >= 0; --index)
					-if(books[index].bookContent)
						li
							img.cover(src='/images/books/#{books[index]._id}')
							h3.title
								a(href='/book/#{books[index]._id}') #{books[index].name_zh}
								a(href='') 修改新书信息[仅管理员可见]
							.intro #{books[index].intro}
							.time #{books[index].bookContent._time.minute}