extends layout

block content	
	section.main-content
		div.hd
			-if(success)
				p=success
				p 你好，
					a(href='user/perInfo') #{user.name}	
			-else if(success_out)
				p=success_out
			-if(error)
				p=error
		h2 最新连载
		div.bd
			ul
				-for(var index = books.length - 1; index >= 0; --index)
					li.fl.w200.mr10
						img.cover(src='/images/books/#{books[index]._id}')
						a.no_unl(href='/book/#{books[index]._id}') #{books[index].name_zh}
						span.intro #{books[index].intro}
						-if(books[index].bookContent._time.minute)
							span.time 更新于 #{books[index].bookContent._time.minute}