//Created by yejing on 14-1-7.

extends ../layout
block content
	h1= title
	p Welcome to #{title}
	-if(error)
		h1=error
	form(method='post',action='/user/perInfo')
		label 用户名：
			input(name='name',value='#{user.name}')
		br
		label 邮箱：
			input(type='text',name='email',value='#{user.email}')
		br
		label 性别：
			-if(user.sex === '1')
				input(type='radio',name='sex',value='0')
				|男
				input(type='radio',name='sex',value='1' checked='#{user.sex}')
				|女
				input(type='radio',name='sex')
				|保密
			-else if(user.sex === '0')
				input(type='radio',name='sex',value='0' checked='checked')
				|男
				input(type='radio',name='sex',value='1')
				|女
				input(type='radio',name='sex')
				|保密
			-else
				input(type='radio',name='sex',value='0')
				|男
				input(type='radio',name='sex',value='1')
				|女
				input(type='radio',name='sex' checked = 'checked')
				|保密
		br
		input(type='submit')