extends ../layout
block content	
	.main-content
		h2 书评人
		ul
			-for (var i = bookComment.length - 1; i >= 0; --i)
				li.fl.w200.mr10
					a(href='/user/#{bookComment[i].userId.name}')
						img(src='/images/avatar/#{bookComment[i].userId._id}')
					.userInfo
						p
							a(href='/user/#{bookComment[i].userId.name}') #{bookComment[i].userId.name}
						p 评论《#{bookComment[i].bookId.name_zh}》
						p #{bookComment[i].comment.content}
						p
							!{bookComment[i].useful}有用 #{bookComment[i].datetime}