extends ../layout
block content	
	.main-content
		h2.reviewer-title 书评人
		ul.reviewer
			-for (var i = bookComment.length - 1; i >= 0; --i)
				-if(bookComment[i].bookId !== null)
					li
						a.avatar(href='/user/#{bookComment[i].userId.name}')
							-if(bookComment[i].userId.avatar.data != undefined)
								img(src='data:image/#{bookComment[i].userId.avatar.contentType};base64,#{bookComment[i].userId.avatar.data.toString("base64")}')
							-else
								img.fl.avatar(src='/images/default/avatar.jpg')
						.userInfo
							a.name(href='/user/#{bookComment[i].userId.name}') #{bookComment[i].userId.name}
							p 评论
								a 《#{bookComment[i].bookId.name_zh}》
							-if(bookComment[i].comment.content.length >= 45)
								p.commentContent(data-content="#{bookComment[i].comment.content}") #{bookComment[i].comment.content.substr(0,44)}...
									span.more.btn.none 展开
							-else
								p.commentContent(data-content="#{bookComment[i].comment.content}") #{bookComment[i].comment.content}
							p
								|!{bookComment[i].useful}有用&nbsp;&nbsp;&nbsp;&nbsp;#{bookComment[i].datetime}
		script(type='text/javascript',src='/javascripts/page/commitContent.js')