extends ../layout
block content
	h1=title
	p welcome to #{title}
	-if(error)
		h3=error
	form(method='post',action='/book/upbookContent/#{id}')
		label 内容：
			textarea(rows='10',cols='20',name='content')=bookContent
		br
		input(type='submit')