extends ../layout
block content
	h1=title
	p welcome to #{title}
	form(method='post',action='/book/upbookContent')
		h2=name_zh
		h3=tags
		br
		label 内容：
			textarea(rows='10',cols='20',name='content')=book
		br
		input(type='submit')